@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Manrope";
}

:root {
  --bgcolor: rgb(24, 65, 199);
  --btnbgcolor: rgb(101, 74, 165)
}

.site-wrappe {
  min-width: 100vw;
  /* background: rgb(49, 48, 48); */
  background: black;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.legal-desk-img {
  width: 800px;
  height: 300px;
}

.testimonial-card {
  position: relative;
  background: rgb(54, 54, 54);
  width: 21rem;
  height: 21rem;
  padding-top: 3.5vmin;
  margin: 1rem;
}

.email-sent-error {
  position: absolute;
  right: 25px;
  top: 15px;
}